.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-zone {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}