.timer {
  font-size: 2rem;
  font-weight: bold;

  padding: .6rem 1.2rem;

  border: 3px solid var(--color);
  border-radius: var(--radius-lg);

  color: var(--color);

  box-shadow: 0 0 12px var(--shadow);

  transition:
    color .25s,
    border-color .25s,
    box-shadow .25s,
    transform .25s;
}

