.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(96, 90, 90, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.game-over-modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.game-over-modal h1 {
  margin-bottom: 15px;
}

.game-over-modal input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.game-over-modal-record{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}