.flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.flex-column{
    display:flex;
    flex-direction:column;
}

.flex-column-center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* COLORS ZONE */
/* greens - safe zone */
.green-1 { --color: var(--green-1); --shadow: rgba(130,220,130,.15); }
.green-2 { --color: var(--green-2); --shadow: rgba(130,220,130,.25); }
.green-3 { --color: var(--green-3); --shadow: rgba(130,220,130,.35); }
.green-4 { --color: var(--green-4); --shadow: rgba(67,214,67,.45);   }
.green-5 { --color: var(--green-5); --shadow: rgba(22,153,22,.55);   }

/* yellows - caution zone */
.yellow-1 { --color: var(--yellow-1); --shadow: rgba(255,249,214,.15); }
.yellow-2 { --color: var(--yellow-2); --shadow: rgba(255,239,153,.25); }
.yellow-3 { --color: var(--yellow-3); --shadow: rgba(255,228,92,.35);  }
.yellow-4 { --color: var(--yellow-4); --shadow: rgba(255,209,31,.45);  }
.yellow-5 { --color: var(--yellow-5); --shadow: rgba(224,173,0,.55);   }

/* reds - danger zone */
.red-1 { --color: var(--red-1); --shadow: rgba(255,216,216,.15);  }
.red-2 { --color: var(--red-2); --shadow: rgba(255,170,170,.25);  }
.red-3 { --color: var(--red-3); --shadow: rgba(255,112,112,.35);  }
.red-4 { --color: var(--red-4); --shadow: rgba(240,60,60,.45);    }
.red-5 { --color: var(--red-5); --shadow: rgba(191,16,16,.60);    }
